# Binaries for programs and plugins
pumu
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
coverage.out
coverage.html

# Go workspace file
go.work

# Dependency directories
vendor/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# GoReleaser
dist/

# Temporary files
*.tmp
*.log
